.history
day25of100/us_state_game/*.csv
day25of100/us_state_game/*.gif
day25of100/us_state_game/solution_main.py
day26of100/*.txt
day29of100/*.txt
*txt 
day30of100/*.txt
day30of100/NATO_alpfhabetic